<h1>Stores within 25 miles of <%= zip_code %></h1>
<h3><%= @stores.first.total %> Total Stores</h3>
<table class='table table-striped table-responsive table-bordered'>
  <thead>
    <th>Name</th>
    <th>City</th>
    <th>Distance</th>
    <th>Phone Number</th>
    <th>Store Type</th>
  </thead>
  <tbody>
    <% @stores.each_with_index do |store, index| %>
      <tr id="store-<%= index + 1 %>" >
        <td><%= link_to store.name, store_path(store.id) %></td>
        <td><%= store.city %></td>
        <td><%= store.distance %></td>
        <td><%= store.phone %></td>
        <td><%= store.store_type %></td>
      </tr>
    <% end %>
  </tbody>
</table>
